/* * {
  border: solid red 1px;
} */

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  margin: 0px;
}

.header-container {
  display: flex;
  background-color: #1F2937;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  width: 70%;
  padding: 20px;
  margin: 0px;
  align-items: center;
  justify-content: center;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.header-links {
  font-size: 18px;
  gap: 20px;
  margin-left: auto;
}
/* BOX 1 */
.container-one {
  display: flex;
  background-color: #1F2937;
  justify-content: center;
  align-items: center;
}

.box-one {
  display: flex;
  padding: 100px;
  width: 70%;
  color: white;
  gap: 40px;
}

.box-one-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.one-title {
  font-size: 48px;
  font-weight: 700;
}

.one-text {
  color: lightgray;
  font-size: 18px;
}

.one-button {
  color: white;
  background-color: #3882F6;
  padding: 10px 40px;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

.one-image {
  flex: 0 0 auto;
  width: 400px;
  height: 300px;
  background-color: gray;
}

/* BOX 2 */
.box-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.two-top {
  display: flex;
  color: #1F2937;
  font-size: 36px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.two-bottom {
  display: flex;
  padding: 20px 0px 100px 0px;
  width: 65%;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.two-card {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  gap: 10px;
  color: gray;
  font-size: 18px;
}

.two-image {
  width: 150px;
  height: 150px;
  background-color: gray;
  border: solid royalblue 4px;
  border-radius: 20px;
}

/* BOX THREE */
.container-three {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
}

.box-three {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 100px;
  color: #1F2937;
  gap: 10px;
}

.three-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}

.three-subtext {
  text-align: right;
  font-size: 24px;
  font-weight: 700;
}

/* BOX FOUR */
.container-four {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-four {
  display: flex;
  background-color: #3882F6;
  width: 70%;
  height: 30%;
  padding: 30px;
  margin: 100px;
  justify-content: space-between;
  border-radius: 10px;
}

.four-text {
  gap: 10px;
}

.four-title {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 500;
}

.four-subtext {
  color: lightgray;
  font-size: 16px;
}

.four-signup {
  background-color: #3882F6;
  color: white;
  font-size: 17px;
  height: 38px;
  width: 120px;
  border: solid white 2px;
  border-radius: 8px;
  font-weight: 600;
}

/* FOOTER */
.footer {
  display: flex;
  background-color: #1F2937;
  color: lightgray;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

/* OTHER */
a:link, 
a:visited {
  text-decoration: none;
  color: lightgray;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

